@import '~bulma/sass/utilities/initial-variables';
@import '~bulma/sass/utilities/functions';
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,400i,700|IBM+Plex+Serif:600,700');

$site-black: #1c1c1c;
$site-green: #3D5C00;
$site-light-green: #d3e3bb;
$site-white: #ffffff;

$body-background-color: #fafafb;
$footer-background-color: rgba(245, 245, 245, 0.9);
$text: $site-black;

$family-sans-serif: 'IBM Plex Sans', 'Helvetica Neue', Arial, sans-serif;
$family-serif: 'IBM Plex Serif', 'Georgia', Times, serif;

.title {
  font-family: $family-serif;
}

$body-size: calc(16px + (20 - 16) * ((100vw - 300px) / (1440 - 300)));

$section-padding: 3rem 1.5rem;

$link: $site-green;
$link-hover: darken($link, 7.5%);

$navbar-item-hover-color: $site-light-green;
$navbar-item-hover-background-color: transparent;

$title-weight: $weight-bold;

$tag-background-color: $site-black;
$tag-color: $site-white;

::selection {
  background: $site-light-green;
}

footer.footer {
  padding: 2rem 1.5rem;
}

a {
  font-family: $family-serif;
  font-weight: $weight-semibold;
}

p > a, a .card-content, a.navbar-item {
  text-decoration: underline !important;
  text-decoration-thickness: 0.125rem !important;
}

p > a:hover, a:hover .card-content, a.navbar-item:hover {
  text-decoration-thickness: 0.2rem !important;
}

@import "~bulma/sass/utilities/derived-variables";
@import "~bulma/sass/utilities/mixins";
@import "~bulma/sass/base/_all";
@import "~bulma/sass/elements/container";
@import "~bulma/sass/elements/tag";
@import "~bulma/sass/elements/title";
@import "~bulma/sass/elements/image";
@import "~bulma/sass/components/card";
@import "~bulma/sass/components/navbar";
@import "~bulma/sass/grid/columns";
@import "~bulma/sass/layout/_all";
